body {
    background-image: url('/static/warta.jpeg');
    background-size: cover;
}
/* Wybieramy wszystkie elementy typu ul (nieuporządkowane listy) z klasą .nav */
ul.nav {
    list-style-type: none;  /* Usuwamy bullet pointy (znaki przed pozycjami listy) */
    margin: 0;  /* Usuwamy zewnętrzne marginesy */
    padding: 0;  /* Usuwamy wewnętrzne marginesy (padding) */
    overflow: hidden;  /* Ustalamy, że elementy, które wystają poza obszar tego elementu, nie będą widoczne */
    background-color: #333;  /* Ustalamy kolor tła na ciemnoszary */
}

/* Wybieramy wszystkie elementy typu li (pozycje listy) z klasą .nav */
li.nav {
    float: left;  /* Ustalamy, że te elementy mają 'pływać' (czyli być ustawiane) po lewej stronie rodzica */
}

/* Wybieramy wszystkie linki wewnątrz pozycji listy z klasą .nav */
li.nav a {
    display: block;  /* Ustalamy, że linki są blokowe (zajmują całą dostępną szerokość) */
    color: white;  /* Kolor tekstu linków na biały */
    text-align: center;  /* Wyśrodkowanie tekstu linków */
    padding: 14px 16px;  /* Wewnętrzny margines na górze/dole ma 14px, a po lewej/prawej stronie 16px */
    text-decoration: none;  /* Usuwamy dekorację linków (np. podkreślenie) */
}

/* Wybieramy elementy z klasą .cont */
.cont{
    min-height:100px ;  /* Ustalamy minimalną wysokość tych elementów na 500px */
    background-color: darkolivegreen;  /* Ustalamy kolor tła na bisque (lekko żółty) */
}

/* Styli dla linków w pozycjach z klasą .nav przy najechaniu na nie kursorem */
li.nav a:hover {
    background-color: #111;  /* Zmieniamy kolor tła na ciemnoszary */
}

/* Wybieramy elementy z klasą .header */
/*.header{*/
/*    height: 50px;  !* Ustalamy wysokość tych elementów na 50px *!*/
/*    background-color: darkgreen;  !* Ustalamy kolor tła na antiquewhite (lekko żółty) *!*/
/*    display: flex;  !* Tworzymy flexboxa, czyli rodzaj kontenera, który pozwala na elastyczne ustawianie dzieci *!*/
/*    justify-content: space-between;  !* Rozstawiamy dzieci z równymi odstępami między nimi *!*/
/*}*/

/* Wybieramy elementy z klasą .footer */
.footer{
    height: 50px;  /* Ustalamy wysokość tych elementów na 50px */
    background-color: antiquewhite;  /* Ustalamy kolor tła na antiquewhite (lekko żółty) */
}

/* Wybieramy elementy z klasą .conteiner */
.conteiner{
    display: flex;  /* Tworzymy flexboxa, czyli rodzaj kontenera, który pozwala na elastyczne ustawianie dzieci */
    flex-direction:column;  /* Ustalamy kierunek główny na kolumnę (czyli dzieci układają się pionowo) */
    justify-content: space-evenly;  /* Rozstawiamy dzieci z równymi odstępami między nimi */
}
