body {
    background-image: url('/static/warta.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    h1 {
        color: white;
        text-align: center;
        margin-top: 50px;
    }
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    z-index: 2;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    background-color: saddlebrown;
}

li.nav a:hover {
    background-color: sienna;
}

.header {
    height: 50px;
    width: fit-content;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    flex-grow: 2;
}

.footer {
    height: 100px;
    background-color: antiquewhite;
    position: relative; /* zmieniono na relative */
    z-index: 2; /* zmieniono na 2 */
}

.cont {
    min-height: 750px;
    background-color: rgba(255, 228, 196, 0.7);
    padding: 20px;
    position: relative;
    z-index: 1;
}

.information-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: saddlebrown;
}
.container {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav li {
    padding: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.container {
    display: flex;
    margin: 5px;
}

.column {
    flex: 1;
    margin-right: 20px;
}