{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>PZW Koło Dabie </title>
</head>
<body class="conteiner">
{% if user.is_authenticated %}
Witaj {{ user.username }}
{% endif %}
<div class="header">
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav"><a href="{% url 'wyloguj' %}">Wyloguj</a> </li>
        {% else %}
            <li class="nav"><a href="{% url 'login' %}">Zaloguj</a> </li>
            
        {% endif %}
       <ul class="nav">
           <li class="nav"><a href="{% url 'create_user' %}">Zarejestruj się</a></li>
           <li class="nav"><a href="{% url 'memberships' %}">Dodaj Członka</a></li>
           <li class="nav"><a href="{% url 'memberships_list' %}">Lista członków Koła </a></li>
           <li class="nav"><a href="{% url 'fish_list' %}">Ryby w zbiornikach </a></li>
           <li class="nav"><a href="{% url 'catch_list' %}">Połowy </a></li>
           <li class="nav"><a href="{% url 'competitions' %}">Zawody wędkarskie PZW  </a></li>
           <li class="nav"><a href="{% url 'water_bodies' %}">Zbiorniki wodne </a></li>
           <li class="nav"><a href="{% url 'informations_list' %}">Informacje </a></li>
           <li class="nav"><a href="{% url 'contact_list' %}">Kontakt </a></li>
       </ul>
    <ul class="nav">
    </ul>
</div>
<div class="cont">{% block content %}{% endblock %}</div>
</body>
</html>
