{% extends 'base.html' %}

{% block content %}
  <h2>Informacje dla wędkarzy</h2>
  <div class="information-block">
    <h3>Bezpieczne i odpowiedzialne wędkowanie</h3>
    <p>Wędkarstwo jest pięknym hobby, które umożliwia bliski kontakt z naturą. W celu ochrony środowiska i zasobów rybnych, zawsze upewnij się, że jesteś świadom zasad i przepisów obowiązujących na łowisku.</p>
    <p><strong>Składki PZW:</strong> Składka roczna wynosi 120 PLN dla dorosłych i 60 PLN dla osób poniżej 18 roku życia. Pamiętaj, że składka umożliwia nam dbanie o zrównoważony ekosystem i zasoby rybne.</p>
    <p><strong>Materiały dla wędkarzy:</strong> Udostępniamy różne materiały edukacyjne, w tym przewodniki dotyczące zrównoważonego wędkowania, informacje o gatunkach ryb i ich sezonach łowienia.</p>
    <p><strong>Łowiska:</strong> Posiadamy różnorodne łowiska w. Przed udaniem się na wędkowanie, zapoznaj się z dokładnymi informacjami o wybranym łowisku.</p>
    <p><strong>Rejestr połowu ryb:</strong> Każdy wędkarz ma obowiązek rejestrowania swojego połowu. To pomaga nam monitorować populację ryb i zapewniać zrównoważone zarządzanie zasobami.</p>
    <p><strong>Zasady wędkowania:</strong> Zawsze wędkuj odpowiedzialnie. Pamiętaj, aby przestrzegać zasad łowienia i limitów wielkości, a także poszanować innych wędkarzy i środowisko.</p>
  </div>
{% endblock %}